body{
    background-image:url(https://img.freepik.com/free-vector/golden-bokeh-lights-background_1048-9227.jpg);
    background-color: none;
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(151, 30, 47);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
